@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-weird: #e82121;
}

@layer base {
    h3 {
        @apply text-base font-bold tracking-tight
        text-black dark:text-white
    }
}

@layer components {
    .card {
        @apply m-10 rounded-lg bg-white px-6 py-8 shadow-xl
        ring-1 ring-slate-900/5 dark:bg-black;
    }
}

@utility flex-center {
    @apply flex justify-center items-center
}